  .App {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .p {
    font-size: 20px;
    color: white;
  }

  .Back-button {
    position: fixed;    
    bottom: 20px;       
    left: 200px;         
    background-color: #424242;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
  }
  
  .Back-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(255, 0, 0);
  }
  