  /* .cirrus {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    left: 550px;
  }
  
  .header-cirrus {
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 15px 0;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .header-cirrus h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .third-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .third-section h2, .second-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .third-section p, .second-section ul {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .third-section strong {
    font-weight: bold;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    font-size: 16px;
    margin: 8px 0;
  }
  
  ul li ul {
    margin-top: 10px;
  }
  
  ul li ul li {
    font-size: 14px;
    list-style-type: square;
  }  

  @media (max-width: 768px) {
    .cirrus {
      padding: 100px;
      position: relative;
      left: 0;
    }
  } */