  body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 95vh;
    margin: 0; 
    background-color: #142C36;
    padding-left: 470px; 
}

.template-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
padding: 10px;
}

.template-container .Annotation,
.template-container .Cirrus,
.template-container .Web360 {
width: 300px;
height: 100px;
text-align: center;
padding: 10px;
margin: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: rgb(1, 23, 29);
color: white;
transition: transform 0.3s ease;
}

.template-container .Annotation:hover,
.template-container .Cirrus:hover,
.template-container .Web360:hover {
transform: scale(1.10);
background-color: #198B74;
cursor: pointer;
}

.sidebar-session {
    width: 25vh; 
    padding: 40px;
    position: fixed; 
    background-color: rgb(1, 23, 29);
    top: 0;
    left: 0;
    height: 100%; 
    overflow-y: auto; 
  }

.sidebar-session h1 {
    padding: 60px 5px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    color: white;
}

.sidebar-session h3{
    padding: 10px 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
}

.sidebar-session h3:hover{
  transform: scale(1.15);
  cursor: pointer;
}

.Annotation{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }

  .Cirrus{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }

  .Web360{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }

.logo {
    position: fixed;
    top: 0px;
    left: 55px;
    width: 150px;
    height: auto;
    z-index: 1000; 
  }

  .pattern {
    position: fixed;
    width: 50em;
    height: auto;
    right: 5em;
    bottom: 10px;
  }

  .box {
    width: 70rem;
    height: 45rem;
    z-index: 1000;
    background-color: rgb(1, 23, 29);
    color: white;
    display: flex;
    flex-direction: row;
  }

.box h2{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.pattern {
    position: fixed;
    width: 70em;
    height: auto;
    right: 5em;
    bottom: 10px;
  }

.menu {
    width: 4rem;
    height: 4rem;   
}
  
  .Bdl-split {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
  }
  
  .Bdl-split input[type="text"] {
    width: 10em; 
    padding: 10px; 
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 2px 4px rgba(48, 45, 45, 0.1); 
  }

  input[type="text"] {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 10px;
  }

  input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .button-group{
    display: flex;
    gap: 20px;
  }
  
  .button-add, .button-remove {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: #424242;
    color: white;
  }
  
  .button-add:hover, .button-remove:hover {
    background-color: #198B74;
  }

  .dashboard {
    width: 62px;
    height: 62px;
  }

  .annotation-info {
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }

  .cirrus-info{
    color: white;
    font-size: 20px;
    margin-left: 30px;
  }

  .web-info{
    color: white;
    font-size: 20px;
    margin-left: 70px;
  }

  .save-button {
    width: 80px;
    height: 50px;
    background-color: #424242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .advance{
    width: 100px;
    height: 50px;
    background-color: rgb(149, 30, 30);
    color: white;
    border: none;
    position: relative;
    top: 25em;
  }

  .advance:hover{
    cursor: pointer;
    transform: scale(1.10);
  }