/*     const cirrusParagrams = [
      { name: 'Ins_freq', type: 'Float', default: 200, desc: "A7 INS Frequency" },
      { name: 'Path_nas', type: 'String', default: "//192.168.1.6/Mobileye", desc: "Path to NAS / Mobile_mapping drive" },
      { name: 'move_to_nas', type: 'Bool', default: 5845, desc: "EPSG Code for processing pointcloud data ( pointcloud is exported in this CRS )" },
      { name: 'clip_input_data', type: 'list', desc:"information for clipping input data. List of [start_time, end_time]." ,default: []},
      { name: ' generate', desc: "Riegl project Generation options"},
      { name: 'colorize_scan', type: 'Bool', default: false, desc: "Colorize scan data" },
      { name: 'export_fast_annotation', type: 'bool', default: false, desc: "Colorize scan data" },
      { name: 'basic', desc: "Basic operations for all projects"},
      { name: 'merge_scanners', type: 'bool', default: false, desc: "Merge left and right scanner" },
      { name: 'slow_speed_filter', desc: "Slow speed filter" },
      { name: 'slow_vsz', type: 'float', default: 0.01, desc: "Voxel Downsample value in meters for slow speed filter" },
      { name: 'slow_thres_speed', type: 'float', default: 5.0, package: 'slow_speed_filter', desc: "A7 INS Frequency" },
      { name: 'point_density', desc: "Density Requirements"},
      { name: 'step_len_gen_polygons', type: 'float', default: 2.0, desc: "Length of polygons in meters. Used in computing density."},
      { name: 'step_len_gen_frames', type: 'float', default: 0.1, desc: "Length of frames in meters. Used in computing density."},
      { name: 'min_density', type: 'Float', default: 3000, desc: "Minimum value of density within a polygon"},
      { name: 'max_density', type: 'Float', default: 5000, desc: "Maximum value of density within a polygon"},
      { name: 'min_density', type: 'float', default: 3000, desc: "Minimum Valid Density within a polygon."},
      { name: 'max_density', type: 'float', default: 5000, desc: "Maximum Valid Density within a polygon."},
      { name: 'downsample_vsz',type: 'float',default: 0.01,desc: "The voxel size in meters for downsampling high density polygons."},
      { name: 'compute_density_post',type: 'bool', default: false, desc: "Compute the density after downsampling."},
      { name: 'delivery',desc: "Setup Delivery Folders"},
      { name: 'grid_size',type: 'int',default: 1000,desc: "Output grid size in meters. 1000 Results in 1km x 1km. 10_000 results in 100m x 100m."},
      { name: 'group',type: 'int',default: 0,desc: "Group number for delivery folders."},
      { name: 'lop',type: 'int',default: 1,desc: "Leverans number for delivery folders."},
      { name: 'op_time_format',type: 'string',default: "stdtime_adjust",choices: 'stdtime_adjust stdtime weeksecs',desc: "Output Time format."},
      { name: 'epsg_output',type: 'float',default: 5845,desc: "EPSG Code for delivering pointcloud data."},
      { name: 'quality_control'},
      { name: 'sample_laz_grid_step',type: 'int',default: 10000,desc: "Sample length in meters for selecting pointclouds for NH-Data height control. 10_000 meters means every 10km."},
      { name: 'nhdata_height_threshold',type: 'float',default: 0.1,desc: "Maximum allowed threshold for a NH-Data height control."},
    ] */